**/node_modules
**/dist
!apps/admin/dist-pro
!apps/admin/dist-pro/**
server/public/
.git
.vscode
.cursor
.husky
**/*.log
**/.env
**/.env.*
!**/.env.example
!apps/admin/.env.pro
**/coverage
**/test
**/*.md
!README.md
**/logs
/scripts
